<nav class="login-navbar">
	<div class="logo-container">
		<img src="assets/img/logo.png" alt="">
	</div>
	<a class="sign-in-btn" routerLink="/sign-up">Sign Up</a>
</nav>

<div class="login-container">
	<div class="login-wrapper">
		<h2 class="caption">Forgot Password?</h2>
		<div *ngIf="!send">
			<p class="description">Enter your account email and we will send you a new password.</p>
			<!-- <form> -->
			<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
				<div class="ls-form-control">
					<input type="email" name="email" [(ngModel)]="email" #emailForgot="ngModel" required>
					<label for="email">Email address</label>
					<div *ngIf="f.submitted && !emailForgot.valid" class="help-block">Email required</div>
				</div>
				<button type="submit" class="login-btn">Submit</button>
			</form>
			<!-- </form> -->
		</div>
		<!-- First Step -->
		<div class="second-step" *ngIf="send">
			<p>An Email with a new password has been sent to
				<span style="color: #ab131c;">{{email}}</span>
			</p>
			<p>Please follow the instructions in the email.</p>
			<button type="submit" class="login-btn" routerLink="/login">Login</button>
		</div>
		<!-- Second Step -->
	</div>
</div>